<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->

            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-5">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projects</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Web Survey Project</h2>
                                            <p>
Developed web surveys using Flask, integrating WTForms/Jinja for user experience and conducting thorough testing. Proficient in SDLC stages, built/maintained web apps with Flask/SQL, and automated interactions using Selenium for efficient data processing. Utilized BeautifulSoup for data extraction and integrated REST APIs for seamless integration. Demonstrated OOP proficiency, developed GUI apps with Tkinter/Turtle, and actively collaborated in Agile environments, utilizing Jira for project tracking and following 'Kanban' and 'Scrum' methodologies.</p>
                                        </div>
<!--                                        <img class="img-fluid" src="" alt="..." />-->
                                    </div>
                                </div>
                            </div>
                            <!-- Project Card 2-->
                            <div class="card overflow-hidden shadow rounded-4 border-0">
                                <div class="card-body p-0">
                                    <div class="d-flex align-items-center">
                                        <div class="p-5">
                                            <h2 class="fw-bolder">Portfolio Project</h2>
                                            <p>I developed a dynamic portfolio project using HTML, CSS, Bootstrap, and Flask framework. Integrated with WTForms for seamless data validation and user interaction. The project showcases my proficiency in front-end design and back-end development, offering an engaging user experience and demonstrating my skills in web development technologies.</p>
                                        </div>
<!--                                        <img class="img-fluid" src="" alt="..." />-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Call to action section-->
            <section class="py-5 bg-gradient-primary-to-secondary text-white">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="display-5 fw-bolder mb-4" style="color:rgb(0, 121, 255)">Let's build something together</h2>
                        <a class="btn btn-primary btn-lg px-5 py-3 fs-6 fw-bolder" href="{{url_for('contact')}}">Contact me</a>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
         {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    </body>
</html>
